{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block contact %}
    
    <!-- Content
    ================================================== -->
    <section id="content" class="container">


    <div class="hero-unit">
        <p>Contact</p>
        <iframe id="map" width="100%" height="450" src="https://maps.google.com/?ie=UTF8&amp;ll=37.450485,-122.18183&amp;spn=0.01695,0.033023&amp;t=m&amp;z=11&amp;output=embed" frameborder="0"></iframe>
        <img id="map-shadow" src="{% static 'img/shadow.png' %}" />
    </div>
    
    <div class="row">
        <div class="span4 offset1">
            <h3>Social networks</h3>
            <br />
            <p class="active lead">
                <a  href="{% url 'socialauth_begin' 'facebook-oauth2' %}" class="btn btn-block btn-social btn-facebook" style="color: #3B5998">
                    <i class="fa fa-facebook fa-2x"></i> Sign in with Facebook
                  </a>
                <a  href="{% url 'socialauth_begin' 'twitter-oauth2' %}" class="btn btn-block btn-social btn-twitter" style="color: #55ACEE">
                    <i class="fa fa-twitter fa-2x"></i> Sign in with Twitter
                  </a>
                <a  href="{% url 'socialauth_begin' 'microsoft-oauth2' %}" class="btn btn-block btn-social btn-microsoft" style="color: #2672EC">
                    <i class="fa fa-windows fa-2x"></i> Sign in with Microsoft
                  </a>  
                <a  href="{% url 'socialauth_begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google" style="color: #DD4B39">
                    <i class="fa fa-google fa-2x"></i> Sign in with Google
                </a>
            </p>
            <br />
            <h3>Where to find us</h3>
            <p class="lead">
                1601ux California Ave, <br />
                Palo Alto, California <br />
                <a>Get Directions</a>
            </p>
        </div>
        <div class="col-sm-6 col-sm-offset-3">

                {% block form %}
                    <div class="row">
                    <div class="">
                       <h1>{{ title }}</h1>
                        {% if confirm_message %}
                        <p>{{ confirm_message }}</p>
                        {% endif %}
                    {% if form %}
                    <form method="POST" action="" > {% csrf_token %}
                        {{ form|crispy }}
                    <input type="submit" value="submit form" class="btn btn-default" />
                    </form>
                    {% endif %}
                    </div>
                    </div>
                {% endblock %}
        </div>
    </div>
    </section>

{% endblock  %}


{% block footer %}
  <!-- Footer
    ================================================== -->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a class="brand" href="index.html">
                        Plain
                    </a>
                    <p>
                        Creative agency working <br />with web and interactive media. <br />
                        Lorem ipsum dolor sit amet.
                        
                    </p>
                </div>
                <div class="span4 social-networks">
                    <h3>Find us elsewhere</h3>
                    <p>
                        <a class="social-network twitter"></a>
                        <a class="social-network facebook"></a>
                        <a class="social-network linkedin"></a>
                        <a class="social-network dribbble"></a>
                        <a class="social-network pinterest"></a>
                    </p>
                </div>
                <div class="span4 newsletter">
                    <h3>Newsletter</h3>
                    <p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>
                    <img class="ajax-loader" src="img/ajax-loader.gif" alt="" />
                    <form method="post" id="newsletter-form">
                        <input type="text" placeholder="Enter your E-mail" name="subscribe" />
                        <input type="hidden" name="bot" /><!-- SPAM protection -->
                        <button type="submit" class="icon-ok" id="newsletter-subscribe" ></button>
                    </form>
                </div> 
            </div> <!-- end .row -->        
        </div> <!-- end .container -->
    </footer><!-- end #footer -->

    <footer id="copyright">
        <div class="container">
            <div class="row">
                <div class="span4">
                    &copy; 2010—2012 by <a>Plain</a>
                </div>
                <div class="span4">
                    <a href="#" title="Send us email">hello@plain.com</a>, 
                    +123 320 000 123 456
                </div>
                <div class="span4">
                    <a href="http://themeforest.net/item/plain/2616790?ref=virae" rel="external" title="">PLAIN</a> BY <a title="Michal Šimonfy" rel="external" href="http://virae.org">VIRAE</a>
                    
                </div>
            </div> <!-- end .row -->        
        </div> <!-- end .container -->
    </footer><!-- end #footer-extra -->
  
{% endblock %}