{% extends "base.html" %}
{% load staticfiles %}

{% block lead-container %}
<div class="lead-container">
<div class="container">

    <!-- Macbook carousel -->
    <div id="carousel" class="carousel slide macbook" rel="carousel">
        <img src="img/carousel-macbook.png" class="carousel-macbook" alt="" />
        <!-- Carousel items -->
        <div class="carousel-inner">
            <!-- Item -->
            <div class="item active">
                <a href="#"><img src="assets/carousel/h.gif" alt="" /></a>
            </div>
            <!-- end Item -->
            <!-- Item -->
            <div class="item">
                <img src="assets/carousel/a.jpg" alt="" />
            </div>
            <!-- end Item -->
            <!-- Item -->
            <div class="item">
                <img src="assets/carousel/b.jpg" alt="" />
            </div>
            <!-- end Item -->
            <!-- Item -->
            <div class="item">
                <img src="assets/carousel/c.jpg" alt="" />
            </div>
            <!-- end Item -->
            <!-- Item -->
            <div class="item">
                <img src="assets/carousel/e.jpg" alt="" />
            </div>
            <!-- end Item -->
        </div>
        <!-- Carousel navigation -->
        <a class="carousel-control left" href="#carousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#carousel" data-slide="next"></a>
    </div>
    <!-- end Macbook carousel -->

</div>
</div>

    
{% endblock %}