{% extends "base.html" %}
{% load staticfiles %}

{% block lead-container %}
<div class="lead-container">
<div class="container">

    <!-- Macbook carousel -->
    <div id="carousel" class="carousel slide macbook" rel="carousel">
        <img src="{% static 'img/carousel-macbook.png' %}" class="carousel-macbook" alt="" />
        <!-- Carousel items -->
        <div class="carousel-inner">
            <!-- Item -->
            <div class="item active">
                <a href="#"><img src="{% static 'assets/carousel/h.gif' %}" alt="" /></a>
            </div>
            <!-- end Item -->
            <!-- Item -->
            <div class="item">
                <img src="{% static 'assets/carousel/a.jpg' %}" alt="" />
            </div>
            <!-- end Item -->
            <!-- Item -->
            <div class="item">
                <img src="{% static 'assets/carousel/b.jpg' %}" alt="" />
            </div>
            <!-- end Item -->
            <!-- Item -->
            <div class="item">
                <img src="{% static 'assets/carousel/c.jpg' %}" alt="" />
            </div>
            <!-- end Item -->
            <!-- Item -->
            <div class="item">
                <img src="{% static 'assets/carousel/e.jpg' %}" alt="" />
            </div>
            <!-- end Item -->
        </div>
        <!-- Carousel navigation -->
        <a class="carousel-control left" href="#carousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#carousel" data-slide="next"></a>
    </div>
    <!-- end Macbook carousel -->

</div>
</div>

    
{% endblock %}

{% block section %}
    <section class="container">

    <section class="row">
        <article class="span4">
            <h2><span class="grey">We're</span> Creative</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
            </p>
            <p><a class="" href="#">Read more &raquo;</a></p>
        </article>
        <article class="span4">
            <h2><span class="grey">We're</span> Reliable</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
            </p>
            <p><a class="" href="#">Read more &raquo;</a></p>
        </article>
        <article class="span4">
            <h2><span class="grey">We're</span> in Palo Alto</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="" href="#">Read more &raquo;</a></p>
        </article>
    </section>
    <!-- end .row -->

    <hr />

    <section class="row" id="portfolio">

        <!-- portfolio item-->
        <article class="span4 project link">

            <div class="thumbnail">
                <!-- image -->
                <a href="project.html" title="">
                    <img alt="" src="{% static 'assets/homepage/placeholder-1.jpg' %}" />
                </a>
                <!-- description -->
                <div class="project-description">
                    <!-- icon -->
                    <i class="icon-picture"></i>
                    <!-- name -->
                    <b class="project-name">Title</b>
                </div>
                <!-- ribbon -->
                <div class="ribbon"><span>Awarded</span></div>
            </div>

        </article>
        <!-- end portfolio item-->

        <article class="span4 project zoom">
            <div class="thumbnail">
                <a href="project.html" title="">
                    <img alt="" src="{% static 'assets/homepage/placeholder-2.jpg' %}" />
                </a>
                <a href="#"></a>
                <div class="project-description">
                    <b class="name">Illustration</b>
                    <i class="icon-font"></i>
                </div>
            </div>
        </article>

        <article class="span4 project link">
            <div class="thumbnail">
                <a href="project.html" title="">
                    <img alt="" src="{% static 'assets/homepage/placeholder-3.jpg' %}" />
                </a>
                <div class="project-description">
                    <b class="name">Video</b>
                    <i class="icon-play"></i>
                </div>
            </div>
        </article>

    </section>

    </section>
{% endblock %}

{% block footer %}
  <!-- Footer
    ================================================== -->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <a class="brand" href="index.html">
                        Plain
                    </a>
                    <p>
                        Creative agency working <br />with web and interactive media. <br />
                        Lorem ipsum dolor sit amet.
                        
                    </p>
                </div>
                <div class="span4 social-networks">
                    <h3>Find us elsewhere</h3>
                    <p>
                        <a class="social-network twitter"></a>
                        <a class="social-network facebook"></a>
                        <a class="social-network linkedin"></a>
                        <a class="social-network dribbble"></a>
                        <a class="social-network pinterest"></a>
                    </p>
                </div>
                <div class="span4 newsletter">
                    <h3>Newsletter</h3>
                    <p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>
                    <img class="ajax-loader" src="img/ajax-loader.gif" alt="" />
                    <form method="post" id="newsletter-form">
                        <input type="text" placeholder="Enter your E-mail" name="subscribe" />
                        <input type="hidden" name="bot" /><!-- SPAM protection -->
                        <button type="submit" class="icon-ok" id="newsletter-subscribe" ></button>
                    </form>
                </div> 
            </div> <!-- end .row -->        
        </div> <!-- end .container -->
    </footer><!-- end #footer -->

    <footer id="copyright">
        <div class="container">
            <div class="row">
                <div class="span4">
                    &copy; 2010—2012 by <a>Plain</a>
                </div>
                <div class="span4">
                    <a href="#" title="Send us email">hello@plain.com</a>, 
                    +123 320 000 123 456
                </div>
                <div class="span4">
                    <a href="http://themeforest.net/item/plain/2616790?ref=virae" rel="external" title="">PLAIN</a> BY <a title="Michal Šimonfy" rel="external" href="http://virae.org">VIRAE</a>
                    
                </div>
            </div> <!-- end .row -->        
        </div> <!-- end .container -->
    </footer><!-- end #footer-extra -->
  
{% endblock %}