    <!-- Header
    ================================================== -->
    <header id="header">

        <!-- Navigation
        ================================================== -->
        <nav class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Logo -->
                    <a class="brand" href="{% url 'home' %}">
                        Plain
                    </a>
                    <ul class="nav">
                    {% url 'home' as home %}
                    {% url 'about' as work %}
                    {% url 'plans' as plans %}
                    {% url 'team' as team %}
                    {% url 'chat' as chat %}
                    {% url 'contact' as contact %}
                        <li class={% if request.path == home %} class="active" {%endif%}><a href="{% url 'home' %}" title="Home">Home</a></li>
                        <li class={% if request.path == work %} class="active" {%endif%}><a href="{% url 'work' %}" title="Our work">Portfolio</a></li>
                        <li class={% if request.path == plans %} class="active" {%endif%}><a href="{% url 'plans' %}" title="Plans and pricing">Pricing</a></li>
                        <li class={% if request.path == team %} class="active" {%endif%}><a href="{% url 'team' %}" title="Our team">Our team</a></li>
                        <li li class={% if request.path == chat %} class="active" {%endif%}><a href="{% url 'chat' %}" title="Our blog">Blog</a></li>
                        <li class="dropdown">
                            <a href="components.html" title="Features">Features</a>
                            <!-- Dropdown menu -->
                            <ul>
                                <li><a href="components.html" title="">Components</a></li>
                                <li><a href="grid.html" title="">Grid</a></li>
                                <li><a href="icons.html" title="">Icons</a></li>
                                {% if not request.user.is_authenticated %}
                                <li><a href="{% url 'account_signup' %}" title="">SignUp</a></li>
                                <li><a href="{% url 'account_login' %}" title="">LogIn</a></li>
                                {% else %}
                                <li><a href="{% url 'account_logout' %}" title="">LogOut</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li li class={% if request.path == contact %} class="active" {%endif%}><a href="{% url 'contact' %}" title="Contact us">Contact</a></li>
                    </ul>
                </div><!-- end .container -->
            </div><!-- end .navbar-inner -->
        </nav>

    </header>

    <!-- Content
    ================================================== -->
    <section id="content" class="container">

</section><!-- end .container -->