    <!-- Header
    ================================================== -->
    <header id="header">

        <!-- Navigation
        ================================================== -->
        <nav class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Logo -->
                    <a class="brand" href="index.html">
                        Plain
                    </a>
                    <ul class="nav">
                        <li class="active"><a href="index.html" title="Home">Home</a></li>
                        <li><a href="work.html" title="Our work">Portfolio</a></li>
                        <li><a href="plans.html" title="Plans and pricing">Pricing</a></li>
                        <li><a href="team.html" title="Our team">Our team</a></li>
                        <li><a href="blog.html" title="Our blog">Blog</a></li>
                        <li class="dropdown">
                            <a href="components.html" title="Features">Features</a>
                            <!-- Dropdown menu -->
                            <ul>
                                <li><a href="components.html" title="">Components</a></li>
                                <li><a href="grid.html" title="">Grid</a></li>
                                <li><a href="icons.html" title="">Icons</a></li>
                                <li><a href="home-variant-1.html" title="">Homepage variant #1</a></li>
                                <li><a href="home-variant-2.html" title="">Homepage variant #2</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html" title="Contact us">Contact</a></li>
                    </ul>
                </div><!-- end .container -->
            </div><!-- end .navbar-inner -->
        </nav>

    </header>

    <!-- Content
    ================================================== -->
    <section id="content" class="container">

</section><!-- end .container -->