Django==1.5.11
South==1.0.2
argparse==1.2.1
django-mongodb-engine==0.5.2
djangotoolbox==1.6.2
pymongo==2.8
wsgiref==0.1.2
Django==1.5.11
South==1.0.2
argparse==1.2.1
django-crispy-forms==1.4.0
django-mongodb-engine==0.5.2
django-social-auth==0.7.28
djangotoolbox==1.6.2
httplib2==0.9
oauth2==1.5.211
pymongo==2.8
python-openid==2.2.5
wsgiref==0.1.2
Django==1.5.11
South==1.0.2
argparse==1.2.1
django-allauth==0.19.1
django-crispy-forms==1.4.0
django-mongodb-engine==0.5.2
django-social-auth==0.7.28
djangotoolbox==1.6.2
httplib2==0.9
oauth2==1.5.211
oauthlib==0.7.2
pymongo==2.8
python-openid==2.2.5
requests==2.6.0
requests-oauthlib==0.4.2
wsgiref==0.1.2
Django==1.7.7
argparse==1.2.1
django-allauth==0.19.1
django-crispy-forms==1.4.0
django-social-auth==0.7.28
djangotoolbox==1.6.2
httplib2==0.9
oauth2==1.5.211
oauthlib==0.7.2
psycopg2==2.6
python-openid==2.2.5
requests==2.6.0
requests-oauthlib==0.4.2
wsgiref==0.1.2
